@import "_config.css";

header {
    /*
    the logo dissapeared after making logo's 'position: absolute',
     but adding this positon: relative here, it reapeared
    */
    position: relative;
    display: block;
    width: 100%;
    background: black;
    color: white;
    height: 90px;
}



header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/header3.jpg");
}

footer {
    /*
    the logo dissapeared after making logo's 'position: absolute',
     but adding this positon: relative here, it reapeared
    */
    position: relative;
    display: block;
    width: 100%;
    background: black;
    color: white;
    height: 90px;
}

.logo {
    position: absolute;
    top: 50%; left: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* nav {
    position: absolute;
    top: 50%; right: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

nav,
mav ul,
nav ul li {
    margin: 0;
    padding: 0;
} */

/* ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
} */

/* .navlabel {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

a {
    font-size: 19px;
    line-height: normal;
    color: white;
} */